pipeline/PL_ServicenowDemo.json
{
	"name": "PL_ServicenowDemo",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ServiceNowV2Source",
						"pageSize": 300
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Servicenow_SRC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ServicenowADLSSTGG2_SNK",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Onsucess-Onfailure-Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded",
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-15.southindia.logic.azure.com:443/workflows/7be0dbc897c841b19f2b6380d5905726/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=hntEt6PMGythbuUD2Gr3l38IdoTIX0IHIRZXkxaZ7Y4",
					"body": {
						"value": "{\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"DatafactoryName\": \"@{pipeline().DataFactory}\",\n    \"RunId\": \"@{pipeline().RunId}\",\n    \"ErrorMessage\": \"@{if(equals(activity('Copy data1').Status,'Failed'), activity('Copy data1').Error.Message, activity('Copy data1').output.Errors)}\",\n    \"Status\": \"@{if(equals(activity('Copy data1').Status,'Failed'),'Failed','Success')}\"\n\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "ServiceNow"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-26T09:10:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}