df-Servicenow/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-Servicenow"
		},
		"LS_ServiceNowRestAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dev281384.service-now.com"
		},
		"LS_ServiceNowRestAPI_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin"
		},
		"Event_Trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/7eee2e8b-6da2-423e-8be0-e242dc5e4773/resourceGroups/rg-test/providers/Microsoft.Storage/storageAccounts/stdservicenow"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_ServicenowADLSSTGG2_SNK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGEN2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ServiceNow"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('file1_',convertTimeZone(utcNow(), 'UTC', 'India Standard Time'),'.json')",
							"type": "Expression"
						},
						"folderPath": "Incidents",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Servicenow_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ServicenowV2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ServiceNow"
				},
				"annotations": [],
				"type": "ServiceNowV2Object",
				"schema": [
					{
						"name": "parent_incident",
						"type": "string"
					},
					{
						"name": "child_incidents",
						"type": "string"
					},
					{
						"name": "delivery_task",
						"type": "string"
					},
					{
						"name": "upon_reject",
						"type": "string"
					},
					{
						"name": "work_start",
						"type": "string"
					},
					{
						"name": "cause",
						"type": "string"
					},
					{
						"name": "resolved_by",
						"type": "string"
					},
					{
						"name": "rejection_goto",
						"type": "string"
					},
					{
						"name": "expected_start",
						"type": "string"
					},
					{
						"name": "severity",
						"type": "string"
					},
					{
						"name": "category",
						"type": "string"
					},
					{
						"name": "origin_id",
						"type": "string"
					},
					{
						"name": "business_service",
						"type": "string"
					},
					{
						"name": "notify",
						"type": "string"
					},
					{
						"name": "reopened_by",
						"type": "string"
					},
					{
						"name": "caused_by",
						"type": "string"
					},
					{
						"name": "business_stc",
						"type": "string"
					},
					{
						"name": "approval_history",
						"type": "string"
					},
					{
						"name": "location",
						"type": "string"
					},
					{
						"name": "sys_updated_on",
						"type": "string"
					},
					{
						"name": "service_offering",
						"type": "string"
					},
					{
						"name": "urgency",
						"type": "string"
					},
					{
						"name": "watch_list",
						"type": "string"
					},
					{
						"name": "cmdb_ci",
						"type": "string"
					},
					{
						"name": "business_duration",
						"type": "string"
					},
					{
						"name": "user_input",
						"type": "string"
					},
					{
						"name": "active",
						"type": "string"
					},
					{
						"name": "comments",
						"type": "string"
					},
					{
						"name": "opened_at",
						"type": "string"
					},
					{
						"name": "sla_due",
						"type": "string"
					},
					{
						"name": "route_reason",
						"type": "string"
					},
					{
						"name": "reopen_count",
						"type": "string"
					},
					{
						"name": "universal_request",
						"type": "string"
					},
					{
						"name": "hold_reason",
						"type": "string"
					},
					{
						"name": "wf_activity",
						"type": "string"
					},
					{
						"name": "resolved_at",
						"type": "string"
					},
					{
						"name": "sys_id",
						"type": "string"
					},
					{
						"name": "sys_domain_path",
						"type": "string"
					},
					{
						"name": "approval",
						"type": "string"
					},
					{
						"name": "knowledge",
						"type": "string"
					},
					{
						"name": "sys_updated_by",
						"type": "string"
					},
					{
						"name": "priority",
						"type": "string"
					},
					{
						"name": "reassignment_count",
						"type": "string"
					},
					{
						"name": "order",
						"type": "string"
					},
					{
						"name": "assignment_group",
						"type": "string"
					},
					{
						"name": "calendar_duration",
						"type": "string"
					},
					{
						"name": "correlation_display",
						"type": "string"
					},
					{
						"name": "short_description",
						"type": "string"
					},
					{
						"name": "parent",
						"type": "string"
					},
					{
						"name": "close_notes",
						"type": "string"
					},
					{
						"name": "due_date",
						"type": "string"
					},
					{
						"name": "sys_mod_count",
						"type": "string"
					},
					{
						"name": "comments_and_work_notes",
						"type": "string"
					},
					{
						"name": "work_notes_list",
						"type": "string"
					},
					{
						"name": "contract",
						"type": "string"
					},
					{
						"name": "delivery_plan",
						"type": "string"
					},
					{
						"name": "business_impact",
						"type": "string"
					},
					{
						"name": "upon_approval",
						"type": "string"
					},
					{
						"name": "close_code",
						"type": "string"
					},
					{
						"name": "work_end",
						"type": "string"
					},
					{
						"name": "subcategory",
						"type": "string"
					},
					{
						"name": "incident_state",
						"type": "string"
					},
					{
						"name": "origin_table",
						"type": "string"
					},
					{
						"name": "caller_id",
						"type": "string"
					},
					{
						"name": "reopened_time",
						"type": "string"
					},
					{
						"name": "rfc",
						"type": "string"
					},
					{
						"name": "calendar_stc",
						"type": "string"
					},
					{
						"name": "escalation",
						"type": "string"
					},
					{
						"name": "additional_assignee_list",
						"type": "string"
					},
					{
						"name": "state",
						"type": "string"
					},
					{
						"name": "closed_by",
						"type": "string"
					},
					{
						"name": "sys_domain",
						"type": "string"
					},
					{
						"name": "assigned_to",
						"type": "string"
					},
					{
						"name": "time_worked",
						"type": "string"
					},
					{
						"name": "correlation_id",
						"type": "string"
					},
					{
						"name": "variables",
						"type": "string"
					},
					{
						"name": "number",
						"type": "string"
					},
					{
						"name": "work_notes",
						"type": "string"
					},
					{
						"name": "follow_up",
						"type": "string"
					},
					{
						"name": "sys_created_on",
						"type": "string"
					},
					{
						"name": "task_effective_number",
						"type": "string"
					},
					{
						"name": "problem_id",
						"type": "string"
					},
					{
						"name": "impact",
						"type": "string"
					},
					{
						"name": "group_list",
						"type": "string"
					},
					{
						"name": "company",
						"type": "string"
					},
					{
						"name": "opened_by",
						"type": "string"
					},
					{
						"name": "made_sla",
						"type": "string"
					},
					{
						"name": "sys_class_name",
						"type": "string"
					},
					{
						"name": "description",
						"type": "string"
					},
					{
						"name": "closed_at",
						"type": "string"
					},
					{
						"name": "activity_due",
						"type": "string"
					},
					{
						"name": "approval_set",
						"type": "string"
					},
					{
						"name": "contact_type",
						"type": "string"
					},
					{
						"name": "sys_created_by",
						"type": "string"
					}
				],
				"typeProperties": {
					"tableName": "incident",
					"valueType": "display"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_gen2_skipfile_snk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGEN2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "outputfiles",
						"fileSystem": "emptyfileskipscenario"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGEN2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SampleJson_30-10-2025.json",
						"fileSystem": "scdtype12"
					},
					"columnDelimiter": "~",
					"rowDelimiter": "~",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Schema_json_snk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGEN2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_Container": {
						"type": "string"
					},
					"P_Folder": {
						"type": "string"
					},
					"P_File": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().P_File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_Folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().P_Container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Schema_metadata_Src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGEN2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "files",
						"fileSystem": "source"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Azuredb_logging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PIPELINE_LOGS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ServiceNowRestAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_ServiceNowRestAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LS_ServiceNowRestAPI_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "ServiceNowPSWD",
						"secretVersion": "343ca9be9c97449aa828fa8ca6e1612c"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Event_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_StorageEventTrigger_Run",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/eventtrigger/blobs/configfile",
					"blobPathEndsWith": "configfile.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Event_Trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Dynamic_Schema')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata_files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Ds_Schema_metadata_Src",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEach_file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata_files').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data_files",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"value": "@if(\r\n    equals(item().name,'Customers.json'),\r\n    pipeline().parameters.Customers_Schema,\r\n    if(\r\n        equals(item().name,'Drivers.json'),\r\n        pipeline().parameters.Drivers_Schema,\r\n        pipeline().parameters.trips_Schema\r\n    )\r\n)",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Schema_Json_Src",
											"type": "DatasetReference",
											"parameters": {
												"P_Container": "source",
												"P_Folder": "files",
												"P_File": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Ds_Schema_json_snk",
											"type": "DatasetReference",
											"parameters": {
												"P_Container": "sink",
												"P_Folder": "schema",
												"P_File": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Customers_Schema": {
						"type": "string",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"path": "$['customer_id']"
									},
									"sink": {
										"path": "$['customer_id']"
									}
								},
								{
									"source": {
										"path": "$['first_name']"
									},
									"sink": {
										"path": "$['first_name']"
									}
								},
								{
									"source": {
										"path": "$['last_name']"
									},
									"sink": {
										"path": "$['last_name']"
									}
								},
								{
									"source": {
										"path": "$['phone']"
									},
									"sink": {
										"path": "$['phone']"
									}
								},
								{
									"source": {
										"path": "$['email']"
									},
									"sink": {
										"path": "$['email']"
									}
								},
								{
									"source": {
										"path": "$['created_date']"
									},
									"sink": {
										"path": "$['created_date']"
									}
								}
							],
							"collectionReference": ""
						}
					},
					"Drivers_Schema": {
						"type": "string",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"path": "$['driver_id']"
									},
									"sink": {
										"path": "$['driver_id']"
									}
								},
								{
									"source": {
										"path": "$['name']"
									},
									"sink": {
										"path": "$['name']"
									}
								},
								{
									"source": {
										"path": "$['vehicle_number']"
									},
									"sink": {
										"path": "$['vehicle_number']"
									}
								},
								{
									"source": {
										"path": "$['vehicle_type']"
									},
									"sink": {
										"path": "$['vehicle_type']"
									}
								},
								{
									"source": {
										"path": "$['rating']"
									},
									"sink": {
										"path": "$['rating']"
									}
								},
								{
									"source": {
										"path": "$['join_date']"
									},
									"sink": {
										"path": "$['join_date']"
									}
								}
							],
							"collectionReference": ""
						}
					},
					"trips_Schema": {
						"type": "string",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"path": "$['trip_id']"
									},
									"sink": {
										"path": "$['trip_id']"
									}
								},
								{
									"source": {
										"path": "$['customer_id']"
									},
									"sink": {
										"path": "$['customer_id']"
									}
								},
								{
									"source": {
										"path": "$['driver_id']"
									},
									"sink": {
										"path": "$['driver_id']"
									}
								},
								{
									"source": {
										"path": "$['pickup_location']"
									},
									"sink": {
										"path": "$['pickup_location']"
									}
								},
								{
									"source": {
										"path": "$['drop_location']"
									},
									"sink": {
										"path": "$['drop_location']"
									}
								},
								{
									"source": {
										"path": "$['distance_km']"
									},
									"sink": {
										"path": "$['distance_km']"
									}
								},
								{
									"source": {
										"path": "$['trip_amount']"
									},
									"sink": {
										"path": "$['trip_amount']"
									}
								},
								{
									"source": {
										"path": "$['payment_mode']"
									},
									"sink": {
										"path": "$['payment_mode']"
									}
								},
								{
									"source": {
										"path": "$['trip_date']"
									},
									"sink": {
										"path": "$['trip_date']"
									}
								},
								{
									"source": {
										"path": "$['status']"
									},
									"sink": {
										"path": "$['status']"
									}
								}
							]
						}
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-21T11:40:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_Schema_metadata_Src')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Schema_json_snk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_EmptyfilesSkip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Gen2_Emptyfilesskip_SRC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach_file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get files').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable_getfile_name",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "File_name",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "LKP_filerow_count",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set variable_getfile_name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"dataset": {
											"referenceName": "DS_Gen2_Emptyfilesskip_SRC",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "If Condition_skipfiles",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "LKP_filerow_count",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('LKP_filerow_count').output.count,0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy_files",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@variables('File_name')",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Gen2_Emptyfilesskip_SRC",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_gen2_skipfile_snk",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"File_name": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Empty File Skip Scenario"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-01T09:42:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_gen2_skipfile_snk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Folderfile_count')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Gen2_filecount_SRC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "SV_FolderfileCount",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "filecount",
							"value": {
								"value": "@length(activity('Get_files').output.childItems)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"filecount": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Folder File Count"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-01T15:19:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Parse Json_Logging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LKP_logging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "json_text",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AzureSQLsampleJson_SNK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP_Flatten",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Flatten_ServiceNow_JSON_Pivot1]"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Incremental",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_Flatten",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_Incremental_InsertOnly_ServiceNow]"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LKP_logging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[INSERT_LOGS]",
								"storedProcedureParameters": {
									"Deletes": {
										"type": "Int32",
										"value": null
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"Inserts": {
										"type": "Int32",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									},
									"StatusMessage": {
										"type": "String",
										"value": null
									},
									"Updates": {
										"type": "Int32",
										"value": null
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "LS_Azuredb_logging",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Sucess_Logs",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UPDATE_LOGS]",
							"storedProcedureParameters": {
								"Deletes": {
									"value": null,
									"type": "Int32"
								},
								"DurationSeconds": {
									"value": {
										"value": "@activity('Copy data1').output.copyDuration",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"Inserts": {
									"value": {
										"value": "@activity('Copy data1').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"LogId": {
									"value": {
										"value": "@activity('LKP_logging').output.firstRow.logid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"StatusMessage": {
									"value": {
										"value": "@activity('Copy data1').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"Updates": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Failed_Logs",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UPDATE_LOGS]",
							"storedProcedureParameters": {
								"Deletes": {
									"value": null,
									"type": "Int32"
								},
								"DurationSeconds": {
									"value": {
										"value": "@activity('Copy data1').output.copyDuration",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('Copy data1').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"Inserts": {
									"value": null,
									"type": "Int32"
								},
								"LogId": {
									"value": {
										"value": "@activity('LKP_logging').output.firstRow.logid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"StatusMessage": {
									"value": {
										"value": "@activity('Copy data1').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"Updates": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Actual development"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-31T03:15:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/LS_Azuredb_logging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCDtype_12')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.ServiceNow_JSON_Stage\n\nTRUNCATE TABLE dbo.ServiceNow_Flattened",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "json_text",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AzureSQLsampleJson_SNK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP_Flatten",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.Flatten_ServiceNow_JSON_Pivot1"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SCD Type 1 and 2"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-16T12:55:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ServicenowDemo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ServiceNowV2Source",
								"pageSize": 300
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Servicenow_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ServicenowADLSSTGG2_SNK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Onsucess-Onfailure-Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded",
									"Failed",
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-15.southindia.logic.azure.com:443/workflows/7be0dbc897c841b19f2b6380d5905726/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=hntEt6PMGythbuUD2Gr3l38IdoTIX0IHIRZXkxaZ7Y4",
							"body": {
								"value": "{\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"DatafactoryName\": \"@{pipeline().DataFactory}\",\n    \"RunId\": \"@{pipeline().RunId}\",\n    \"ErrorMessage\": \"@{if(equals(activity('Copy data1').Status,'Failed'), activity('Copy data1').Error.Message, activity('Copy data1').output.Errors)}\",\n    \"Status\": \"@{if(equals(activity('Copy data1').Status,'Failed'),'Failed','Success')}\"\n\n}\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ServiceNow"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-26T09:10:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Servicenow_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_ServicenowADLSSTGG2_SNK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ServicenowDemo_LogCapture')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "StartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ServiceNowV2Source",
								"pageSize": 300
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Servicenow_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ServicenowADLSSTGG2_SNK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Onsucess-Onfailure-Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded",
									"Failed",
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-15.southindia.logic.azure.com:443/workflows/7be0dbc897c841b19f2b6380d5905726/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=hntEt6PMGythbuUD2Gr3l38IdoTIX0IHIRZXkxaZ7Y4",
							"body": {
								"value": "{\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"DatafactoryName\": \"@{pipeline().DataFactory}\",\n    \"RunId\": \"@{pipeline().RunId}\",\n    \"ErrorMessage\": \"@{if(equals(activity('Copy data1').Status,'Failed'), activity('Copy data1').Error.Message, activity('Copy data1').output.Errors)}\",\n    \"Status\": \"@{if(equals(activity('Copy data1').Status,'Failed'),'Failed','Success')}\"\n\n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "PL_logcapturing",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "StopTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_ASD_Logcapturing",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": {
										"value": "@concat(\n  'INSERT INTO Pipeline_Execution_Log_Script (PL_DatafactoryName, PL_Name, PL_RunId, PL_TriggerName, PL_TriggerTime, PL_TriggerType, PL_ExecutionTime_insec) VALUES (''',\n  pipeline().DataFactory, ''',''',\n  pipeline().Pipeline, ''',''',\n  pipeline().RunId, ''',''',\n  pipeline().TriggerName, ''',''',\n  formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss'), ''',''',\n  pipeline().TriggerType, ''',',\n  'DATEDIFF(second, ''', formatDateTime(variables('StartTime'),'yyyy-MM-dd HH:mm:ss'), ''',''', formatDateTime(variables('StopTime'),'yyyy-MM-dd HH:mm:ss'), '''))'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "StartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@{formatDateTime(convertTimeZone(utcNow(), 'UTC', 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "StopTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Onsucess-Onfailure-Alert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StopTime",
							"value": {
								"value": "@{formatDateTime(convertTimeZone(utcNow(), 'UTC', 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"StopTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Pipeline Log Capturing"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-27T03:14:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Servicenow_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_ServicenowADLSSTGG2_SNK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ServicenowDemo_LogCapture_SP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "StartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ServiceNowV2Source",
								"pageSize": 300
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Servicenow_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ServicenowADLSSTGG2_SNK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Onsucess-Onfailure-Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded",
									"Failed",
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-15.southindia.logic.azure.com:443/workflows/7be0dbc897c841b19f2b6380d5905726/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=hntEt6PMGythbuUD2Gr3l38IdoTIX0IHIRZXkxaZ7Y4",
							"body": {
								"value": "{\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"DatafactoryName\": \"@{pipeline().DataFactory}\",\n    \"RunId\": \"@{pipeline().RunId}\",\n    \"ErrorMessage\": \"@{if(equals(activity('Copy data1').Status,'Failed'), activity('Copy data1').Error.Message, activity('Copy data1').output.Errors)}\",\n    \"Status\": \"@{if(equals(activity('Copy data1').Status,'Failed'),'Failed','Success')}\"\n\n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "StartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@{formatDateTime(convertTimeZone(utcNow(), 'UTC', 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "StopTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Onsucess-Onfailure-Alert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StopTime",
							"value": {
								"value": "@{formatDateTime(convertTimeZone(utcNow(), 'UTC', 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "StopTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogPipelineExecution]",
							"storedProcedureParameters": {
								"PL_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PL_RunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PL_TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"PL_TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@formatDateTime(variables('StartTime'),'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@formatDateTime(variables('StopTime'),'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"PL_Status": {
									"value": {
										"value": "Sucess",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASD_Logcapturing",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored procedure1_copy1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogPipelineExecution]",
							"storedProcedureParameters": {
								"PL_Name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PL_RunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PL_TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"PL_TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@formatDateTime(variables('StartTime'),'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@formatDateTime(variables('StopTime'),'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"PL_Status": {
									"value": {
										"value": "Failed",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASD_Logcapturing",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"StopTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Pipeline Log Capturing"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-27T03:14:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Servicenow_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_ServicenowADLSSTGG2_SNK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_StorageEventtrigger_copyfile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_file to folder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Gen2_Eventtrigger_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Gen2_Eventtrigger_SNK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_configfile",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_file to folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Gen2_Eventtrigger_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Gen2_Eventtrigger_SNK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Storage Event Pipeline Trigger"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-02T07:30:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_delete_congigfile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Gen2_Eventtrigger_SNK",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Storage Event Pipeline Trigger"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-02T07:35:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parse Json')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "json_text",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AzureSQLsampleJson_SNK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP_Flatten",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Flatten_ServiceNow_JSON_Pivot1]"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Incremental",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_Flatten",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_Incremental_InsertOnly_ServiceNow]"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Actual development"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-31T01:00:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		}
	]
}